- company = get_block("hr_tema")
- if company
  .cf
    .block.right{:style => "margin: 20% 15px 0 0; width: 50%"}
      %p
        %strong.h2=company.title
        = raw company.content

.abs
  = render :partial => "footer"